---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="post-listing">
        <ul class="post-listing__list js-post-listing">
          {% for post in paginator.posts %}
            {% include post.html post=post importance=post.importance details=true %}
          {% endfor %}
        </ul>

        <div class="post-listing__pagination">
          <div class="row">
              <div class="col-xs-6 text-left">
                {% if paginator.previous_page %}
                  <a href="{{ paginator.previous_page_path }}" class="post-listing__pagination__link post-listing__pagination__link--prev">&lt; Previous</a>
                {% endif %}
              </div>
              <div class="col-xs-6 text-right">
                {% if paginator.next_page %}
                  <a href="{{ paginator.next_page_path }}" class="post-listing__pagination__link post-listing__pagination__link--next">Next &gt;</a>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      {% include featured-posts.html %}
    </div>
  </div>
</div>

{% include footer.html bluefooter=false %}
