.btn {
  @include button-size(7px, 21px, $fs-1 - 1px, $fs-2, 3px);
  font-weight: $fw-bold;
  font-family: $ff-sans-serif;
  text-transform: uppercase;

  &-default {
    color: $yellow-color;
    border-color: $yellow-color;
    border-radius: 20px;

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
      background-color: $yellow-color;
      border-color: $yellow-color;
      color: $white-color;
      outline: 0;
    }
  }

  &-sm {
    @include button-size(6px, 13px, 11px, 10px, 20px);
  }

  &-lg {
    @include button-size(10px, 37px, $fs-1 - 1px, $fs-2, 3px);
  }
}
