.navbar {
  margin-bottom: 0;
  background-color: $white-color;

  &-nav {
    font-family: $ff-sans-serif;
    font-size: $fs-9;
    color: $gray-1-color;

    > li > a {
      color: inherit;

      &:hover,
      &:focus {
        color: $blue-color;
        background-color: transparent;
      }
    }

    li {
      text-align: center;

      @media #{$md-up} {
        text-align: left;
      }
    }

    .navbar-btn {
      color: $white-color;
      font-size: $fs-1;
      padding: 6px 12px;
      text-transform: none;

      @media #{$md-up} {
        margin-left: 10px;
      }
    }
  }

  .icon-bar {
    background-color: $gray-1-color;
  }
}
