.c-author-info {
  margin: 0 0 32px;
  padding: 13px 25px 25px;

  @media #{$md-up} {
    margin-bottom: 52px;
  }

  &__avatar {
    @include sizing(75px);

    @media #{$md-up} { @include sizing(125px); }
  }

  &__text {
    padding-left: 3px;
    vertical-align: middle;

    &__name {
      @include text($fs-13, $fw-semibold, $black-color);
      margin: 0 0 5px;
    }

    &__position {
      @include text($fs-9, $fw-normal, $gray-2-color);
      margin: 0 0 6px;
    }

    &__description {
      @include text($fs-4, $fw-normal, $dark-color);
    }
  }

  &__social {
    &__item {
      @each $social in ('facebook', 'twitter', 'linkedin', 'google-plus') {
        &--#{$social} a {
          color: map-get($social-colors, $social);
          text-decoration: none;
        }
      }
    }
  }
}
