$category-nav-height: 50px;

.category-nav-wrapper {
  background-color: $white-color;

  // scrollable nav (hide the scrollbar)
  height: $category-nav-height;
  overflow: hidden;
}

.category-nav-container {
  height: 100%;
  margin-right: auto;
  margin-left: auto;

  @media #{$sm-up} {
    width: $container-sm;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media #{$md-up} {
    width: $container-md;
  }
  @media #{$lg-up} {
    width: $container-lg;
  }
}

.category-nav {
  border-top: 1px solid $light-gray-2-color;
  padding-left: 15px;
  padding-right: 15px;

  // scrollable nav
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;               // push the scrollbar down (🦄 magic number ✨)
  // -

  @media #{$sm-up} {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    height: 100%;
    padding-left: 0;
    padding-right: 0;

    // scrollable nav (reset)
    padding-bottom: 0;
    // -
  }
}

.category-nav__item {
  color: $dark-color;
  font-size: 16px;

  // scrollable nav
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: $category-nav-height;
  // -

  @media #{$sm-up} {
    height: 100%;
  }

  &:not(:first-of-type) {
    padding-left: 10px;
  }
  &:not(:last-of-type) {
    padding-right: 10px;
  }

  &:hover,
  &--active {
    color: $blue-color;
    text-decoration: none;
  }
}
