.c-post-info {
  margin-bottom: 10px;

  &__title {
    margin-top: 0;
    margin-bottom: 3px;

    @include text($fs-13, $fw-bold, $black-color);

    @media #{$md-up} {
      font-size: $fs-13;
      margin-top: 6px;
    }
  }

  &__block-container {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media #{$md-up} {
      margin-bottom: 10px;
    }
  }

  &__block {
    @include text($fs-1, $fw-light, $gray-1-color);

    &:not(:first-child):before {
      content: "·";
      font-weight: bold;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
