.c-post-cta {
  padding: 55px 0 71px;
  text-align: center;
  background-color: $white-color;

  &__title {
    @include text($fs-jumbo-3, $fw-light, $black-color);
    margin-bottom: 7px;
  }
  &__subtitle {
    @include text($fs-14, $fw-light, $dark-gray-4-color);
    margin-bottom: 14px;
  }

  &__link {
    @include text($fs-2, $fw-normal, $blue-color);
  }
}
