<div class="media c-author-info">
  <div class="media-left">
    <img src="{{ site.baseurl }}/assets/authors/{{ include.avatar }}" class="img-circle c-author-info__avatar" alt="{{ include.name }}">
  </div>
  <div class="media-body c-author-info__text">
    <h4 class="c-author-info__text__name">{{ include.name }}</h4>
    {% if include.position %}
      <h5 class="c-author-info__text__position">{{ include.position }}</h5>
    {% endif %}
    <p class="c-author-info__text__description">
      {{ include.description }}
    </p>
    <div class="c-author-info__social">
      {% if include.googleplus %}
      <span class="c-author-info__social__item c-author-info__social__item--google-plus">
        <a href="{{ include.googleplus }}">
          <i class="fa fa-google-plus"></i>
        </a>
        </span>
      {% endif %}
      {% if include.twitter %}
        <span class="c-author-info__social__item c-author-info__social__item--twitter">
          <a href="{{ include.twitter }}">
            <i class="fa fa-twitter"></i>
          </a>
        </span>
      {% endif %}
      {% if include.facebook %}
        <span class="c-author-info__social__item c-author-info__social__item--facebook">
          <a href="{{ include.facebook }}">
            <i class="fa fa-facebook"></i>
          </a>
        </span>
      {% endif %}
      {% if include.linkedin %}
        <span class="c-author-info__social__item c-author-info__social__item--linkedin">
          <a href="{{ include.linkedin }}">
            <i class="fa fa-linkedin"></i>
          </a>
        </span>
      {% endif %}
    </div>
  </div>
</div> <!-- ./media -->
