<footer class="site-footer{% if include.bluefooter %} site-footer--post{% endif %}">
  <div class="container">
    <a href="https://www.honeypot.io/pages/about" class="site-footer__link">About</a>
    <a href="http://blog.honeypot.io/" class="site-footer__link">Blog</a>
    <a href="https://jobs.lever.co/honeypot" class="site-footer__link">Careers</a>
    <a href="https://www.honeypot.io/pages/legal_notice" class="site-footer__link">Legal Notice</a>
    <a href="https://www.honeypot.io/pages/terms_of_service" class="site-footer__link">Terms of Service</a>
    <a href="https://www.honeypot.io/pages/legal_notice#privacy_policy" class="site-footer__link">Privacy Policy</a>
    <a href="https://www.honeypot.io/pages/faq" class="site-footer__link">FAQ</a>
    <div class="site-footer__link site-footer__copyright">
      &copy; 2016 Honeypot GmbH
    </div>
  </div>
</footer>
