<div class="container c-footer">
  <div class="row">
    <div class="col-md-8">
      <a href="https://www.honeypot.io/pages/about" class="c-footer__item">About</a>
      <a href="https://www.honeypot.io/pages/terms_of_service" class="c-footer__item">Terms of Service</a>
      <a href="{{ site.baseurl }}/browse/cookie-declaration" class="c-footer__item">Cookie Declaration</a>
      <a href="https://www.honeypot.io/pages/legal_notice" class="c-footer__item">Legal Notice</a>
      <a href="https://www.honeypot.io/privacy_policy" class="c-footer__item">Privacy Policy</a>
      <a href="https://jobs.lever.co/honeypot" class="c-footer__item" target="_blank">Careers</a>
      <a href="https://www.honeypot.io/pages/faq" class="c-footer__item">FAQ</a>
      <a href="https://blog.honeypot.io/" class="c-footer__item">Blog</a>
      <a href="https://autotechmap.honeypot.io/" class="c-footer__link">AutoTech</a>
    </div>
    <div class="col-md-4 clearfix">
      <div class="c-footer__social-container">
        <a href="https://twitter.com/honeypotio" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/Honeypotio/" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/company/honeypot" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <span class="c-footer__company-name">
        &copy; {{ 'now' | date: "%Y" }} Honeypot GmbH
      </span>
    </div>
  </div>
</div>
