{% assign post = include.post %}
{% assign author = site.data.authors[post.author] %}
{% assign details = include.details %}
<li class="post-listing__item post-listing__item--importance-{{ include.importance }} js-post-listing-item">
  <a href="{{ post.url }}" class="post-listing__link">
    <div
      class="post-listing__cover"
      style="background-image: url('/assets/cover-images/thumbnail_{{ post.cover_image }}')"
    >
    </div>

    <div class="post-listing__item__meta">

      {% include post-info.html
        avatar=author.avatar
        title=post.title
        name=author.name
        date=post.date
        categories=post.categories
      %}

      <div class="post-listing__item__excerpt">
        {{ post.excerpt }}
      </div>
      <div class="post-listing__item__read-more">
        <a href="{{ post.url }}">Read more ></a>
      </div>
    </div><!-- ./post-listing__item__meta -->
  </a>
</li>
