<div class="c-sidebar-signup js-sidebar-signup">
  <h3 class="c-sidebar-signup__headline">Get job offers today!</h3>
  <p  class="c-sidebar-signup__tagline">A Developer-Focused Job Platform, where Companies Apply to You!</p>
  <a href="https://app.honeypot.io/users/sign_up?utm_source=blog" class="btn btn-primary c-sidebar-signup__talent-link">Join Honeypot!</a>
  <a href="https://app.honeypot.io/invite_requests/new?utm_source=blog" class="c-sidebar-signup__employer-link">Are you an employer?</a>
</div>
