<div class="c-sign-up">
  <h2>Searching for a Tech Job? Join Honeypot!</h2>
  <p>Let companies in Germany and the Netherlands Apply to You!</p>
  <form class="row c-sign-up__form">
    <div class="form-group col-md-3 c-sign-up__input-section">
      <input type="text" class="form-control c-sign-up__input" placeholder="First Name" />
    </div>
    <div class="form-group col-md-6 c-sign-up__input-section">
      <input type="text" class="form-control c-sign-up__input" placeholder="Your Email" />
    </div>
    <div class="form-group col-md-3 c-sign-up__input-section">
      <button type="submit" class="btn btn-primary c-sign-up__button">Join Honeypot</button>
    </div>
  </form>
</div>
