<div class="c-sign-up">
  <h2 class="c-sign-up__headline">{{ cta.headline }}</h2>
  <p class="c-sign-up__tagline">{{ cta.tagline }}</p>
  <form class="row c-sign-up__form" method="GET" action="{{ cta.form_action }}">
    <div class="form-group col-md-3 c-sign-up__input-section">
      <input type="text" class="form-control c-sign-up__input" name="{{ cta.text_input_varname }}" placeholder="{{ cta.text_input_placeholder }}" required />
    </div>
    <div class="form-group col-md-6 c-sign-up__input-section">
      <input type="email" class="form-control c-sign-up__input" name="{{ cta.email_input_varname }}" placeholder="{{ cta.email_input_placeholder }}" required />
    </div>
    <div class="form-group col-md-3 c-sign-up__input-section">
      <button type="submit" class="btn btn-primary c-sign-up__button">{{ cta.button_text }}</button>
    </div>
  </form>
</div>
