<div class="c-sign-up">
  <h2 class="c-sign-up__headline">Searching for a Tech Job? Join Honeypot!</h2>
  <p class="c-sign-up__tagline">Let companies in Europe Apply to You!</p>
  <form class="row c-sign-up__form" method="GET" action="https://app.honeypot.io/users/sign_up">
    <div class="form-group col-md-3 c-sign-up__input-section">
      <input type="text" class="form-control c-sign-up__input" name="firstname" placeholder="First Name" required />
    </div>
    <div class="form-group col-md-6 c-sign-up__input-section">
      <input type="email" class="form-control c-sign-up__input" name="email" placeholder="Your Email" required />
    </div>
    <div class="form-group col-md-3 c-sign-up__input-section">
      <button type="submit" class="btn btn-primary c-sign-up__button">Join Honeypot</button>
    </div>
  </form>
</div>
