// COLORS
$very-light-blue-color: #f5f8fa;
$light-blue-1-color: #e2e8f0;
$blue-color: #3685d6;
$yellow-color: #ffba00;
$black-color: #000000;
$white-color: #ffffff;
$dark-color: #525252;
$gray-1-color: #858b97;
$text-1-color: #94a2b1;
$text-2-color: #1f2228;
$light-gray-color: #eeeeee;
$light-gray-2-color: #f2f2f2;
$very-light-gray-color: #f9f9f9;
$dark-gray-3-color: #999999;
$google-plus-color: #d53c15;
$twitter-color: #55acee;
$facebook-color: #43609c;

// FONTS
$fs-1: 14px;
$fs-2: 20px;
$fs-3: 12px;
$fs-4: 18px;
$fs-5: 46px;
$fs-6: 24px;
$fs-7: 15px;
$fs-8: 34px;
$fs-13: 25px;
$fs-jumbo-2: 50px;

$fw-light: 100;
$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 800;

$ff-sans-serif: 'Proxima-Nova', Helvetica, sans-serif;
$ff-sans-serif-2: 'Montserrat', sans-serif;

$post-page-width: 746px;
