.site-header {
  padding: 12px;
  border-bottom: 1px solid $light-blue-1-color;
}

.site-logo {
  @include sizing(131px 33px);
}

.page-logo {
  padding: 9px 15px;
}

.site-nav {
  float: right;
}

.site-footer {
  margin-top: -10px;
  padding: 100px 0 50px;
  text-align: center;
  color: $text-1-color;

  &--post {
    background-color: $very-light-blue-color;
  }

  &__link {
    margin: 0 16px 0 0;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: inherit;

    @media #{$md-up} {
      margin: 0 45px 0 0;
    }
  }

  &__copyright {
    margin: 50px 0 10px;
  }
}

.center-image {
    margin: 0 auto;
    display: block;
}
