.latest-posts {
  padding-top: 20px;
  border-top: 1px solid $light-blue-1-color;

  &__container {
    width: 100%;
    margin: 0 auto;

    @media #{$md-up} {
      width: $post-page-width;
    }
  }
}
