.latest-posts {
  padding-top: 30px;
  background-color: $very-light-blue-color;
  border-top: 1px solid $light-blue-1-color;

  &__container {
    width: 100%;
    margin: 0 auto;

    @media #{$md-up} {
      width: $post-page-width;
    }
  }

  &__heading {
    margin: 16px 0 55px;
    font-family: $ff-sans-serif-2;
    font-weight: $fw-bold;
    font-size: $fs-8;
    text-transform: uppercase;
  }
}
