.post {
  margin: 0 auto;
  font-size: $fs-4;
  color: $text-1-color;

  @media #{$md-up} {
    width: $post-page-width;
  }

  &__header {
    margin-top: 64px;
  }

  &__cover {
    width: 100%;
    margin-bottom: 45px;

    @media #{$md-up} {
      width: $post-page-width;
    }
  }

  &__meta {
    margin-bottom: 0;
    font-size: $fs-1;
  }

  &__emphasis {
    color: $black-color;
  }

  &__heading {
    @include text($fs-5, $fw-bold, $black-color);
    margin: 0;
  }

  &__subheading {
    @include text($fs-6, $fw-light, $text-1-color);
    margin: 6px 0 61px;
  }

  &__content {
    color: $text-2-color;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: $fw-bold;
      color: $black-color;
    }

    img {
      width: 100%;
    }
  }

  &__author-details {
    margin-top: 24px;
  }

  &__see-more {

    &__btn {
      padding: 7px 35px;
      border-width: 2px;
    }
  }
}
