.post-listing {
  margin: 25px 0;

  &__link {
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  &__list {
    padding-left: 0;
    max-width: 1200px;
    list-style-type: none;
  }

  &__item {
    float: none;
    width: 100%;
    margin: 0 auto 32px;

    &:last-of-type {
      margin-bottom: 20px;
    }

    &__meta {
      padding: 10px;
      background-color: $white-color;

      @media #{$md-up} {
        padding: 24px;
      }

      img {
        width: 100%;
      }
    }

    &__block {
      @include text($fs-1, $fw-light, $gray-1-color);
      margin: 0 19px 0 0;
    }

    &__excerpt {
      @include text($fs-4, $fw-normal, $text-2-color);
      margin-bottom: 6px;
    }

    &__read-more {
      @include text($fs-4, $fw-normal, $yellow-color);
    }
  }

  &__cover {
    display: block;

    &__tags {
      font-size: $fs-7;
      font-weight: $fw-normal;
      text-transform: uppercase;
      color: $text-1-color;
    }

    .backdrop {
      display: none;
    }
  }

  &__cover-image {
    max-width: 100%;
    height: auto;
  }

  &__pagination {
    width: 100%;

    &__link {
      @include text($fs-9, $fw-normal, $blue-color);

      @media #{$md-up} {
        font-size: $fs-4;
      }
    }
  }
}
