.post-listing {
  margin: 35px 0;

  &__link {
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  &__list {
    padding-left: 0;
    max-width: 1200px;
    list-style-type: none;
  }

  &__item {
    float: none;
    width: 100%;
    margin: 0 auto 28px;

    @media #{$md-up} {
      width: 848px;
    }

    &__meta {
      padding: 24px;
      background-color: $white-color;
    }

    &__meta-contents {
      padding-top: 12px;
      vertical-align: middle;
    }

    &__block {
      @include text($fs-1, $fw-light, $gray-1-color);
      margin: 0 19px 0 0;
    }

    &__excerpt {
      @include text($fs-4, $fw-normal, $text-2-color);
    }

    &__read-more {
      @include text($fs-4, $fw-normal, $yellow-color);
    }
  }

  &__cover {
    display: block;
    height: 193px;

    &__tags {
      font-size: $fs-7;
      font-weight: $fw-normal;
      text-transform: uppercase;
      color: $text-1-color;
    }

    .backdrop {
      display: none;
    }
  }
}
