---
layout: default
---
{% assign author = site.data.authors[page.author] %}
{% assign cta = site.data.post_cta[page.cta] %}

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="post">
        <header class="post__cover-container">
          <picture>
            <source
              srcset="/assets/cover-images/thumbnail_{{ page.cover_image }}"
              media="(min-width: 1200px)">
            <source
              srcset="/assets/cover-images/md/thumbnail_{{ page.cover_image }}"
              media="(min-width: 768px)">
            <source
              srcset="/assets/cover-images/sm/thumbnail_{{ page.cover_image }}"
              media="(min-width: 480px)">
            <img
              class="post__cover"
              srcset="/assets/cover-images/xs/thumbnail_{{ page.cover_image }}"
              alt="">
          </picture>
          <div class="post__sticky js-sticky-container">
            <div class="post__icon post__icon--google-plus">
              <a href="https://plus.google.com/share?url={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}" class="popup">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
            <div class="post__icon post__icon--twitter">
              <a href="http://twitter.com/share?text={{ page.title | uri_escape }}&url={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}&via=honeypotio" class="popup">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <div class="post__icon post__icon--facebook">
              <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}" class="popup">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
          </div>
        </header>

        <div class="post__info">
          {% include post-info.html
            avatar=author.avatar
            title=page.title
            name=author.name
            date=page.date
            categories=page.categories
          %}
        </div>

        <article class="post__content">
          {{ content }}
        </article>

        <div class="visible-xs visible-sm visible-md post__mobile-share">
          <span class="post__mobile-share__text">Share:</span>
          <div class="post__icon post__icon--google-plus post__icon--inline">
            <a href="https://plus.google.com/share?url={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}" class="popup">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
          <div class="post__icon post__icon--twitter post__icon--inline">
            <a href="http://twitter.com/share?text={{ page.title | uri_escape }}&url={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}&via=honeypotio" class="popup">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <div class="post__icon post__icon--facebook post__icon--inline">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}" class="popup">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
        </div>

        <hr class="js-scroll-stop" />

        {% include author-info.html
          avatar=author.avatar
          name=author.name
          position=author.position
          description=author.desc
          googleplus=author.social.googleplus
          twitter=author.social.twitter
          facebook=author.social.facebook
          linkedin=author.social.linkedin
        %}

        {% include sign-up.html %}
      </div><!-- ./post -->
    </div><!-- ./col-md-9 -->

    <div class="col-md-3">
      {% include featured-posts.html %}
      {% include sidebar-signup.html %}
    </div>

    <div class="col-md-9">
      {% include latest-posts.html
        categories=page.categories
       %}
    </div>
  </div>
</div>

{% if cta %}
  {% include post-cta.html
    title=cta.title
    subtitle=cta.subtitle
    cta_link=cta.cta_link
    cta_text=cta.cta_text
  %}
{% endif %}

{% include footer.html bluefooter=true %}
