---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<div class="container">
  <div class="post">

    <header class="post__cover-container">
      <img class="post__cover js-post-cover" src="/cover_images/{{page.cover_image}}" width="746" />
      <div class="post__sticky js-sticky-container">
        <div class="post__icon post__icon--google-plus">
          <a href="https://plus.google.com/share?url={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}" class="popup">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
        <div class="post__icon post__icon--twitter">
          <a href="http://twitter.com/share?text={{ page.title | uri_escape }}&url={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}&via=honeypotio" class="popup">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
        <div class="post__icon post__icon--facebook">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}" class="popup">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </header>

    <div class="post__info">
      {% include post-info.html
        avatar=author.avatar
        title=page.title
        name=author.name
        date=page.date
        categories=page.categories
      %}
    </div>

    <article class="post__content">
      {{ content }}
    </article>

    <div class="visible-xs visible-sm visible-md post__mobile-share">
      <span class="post__mobile-share__text">Share:</span>
      <div class="post__icon post__icon--google-plus post__icon--inline">
        <a href="https://plus.google.com/share?url={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}" class="popup">
          <i class="fa fa-google-plus"></i>
        </a>
      </div>
      <div class="post__icon post__icon--twitter post__icon--inline">
        <a href="http://twitter.com/share?text={{ page.title | uri_escape }}&url={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}&via=honeypotio" class="popup">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="post__icon post__icon--facebook post__icon--inline">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url | uri_escape}}/{{ page.permalink | uri_escape}}" class="popup">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
    </div>

    <hr class="js-scroll-stop" />

    {% include author-info.html
      avatar=author.avatar
      name=author.name
      position="Cofounder"
      description=author.desc
    %}

  </div>
</div>
<section class="latest-posts">
  <div class="latest-posts__container">
    <h4 class="latest-posts__heading">Previous Posts</h4>
    <ul class="post-listing__list clearfix">
      {% for post in site.posts limit:3 %}
        {% include post.html post=post importance=0 details=false %}
      {% endfor %}
    </ul>
    <p class="text-center post__see-more">
      <a class="btn btn-default post__see-more__btn" href="{{site.baseurl}}/">See all</a>
    </p>
  </div>
</section>

{% include footer.html bluefooter=true %}
